# ----------------
#  VS Code files
# ----------------
.vscode

# ----------------
#  Dependencies
# ----------------
/node_modules

# ----------------
#   Builds
# ----------------
/dist

# ----------------
#   Logs
# ----------------
*.log
